body {
  background-color: #1e1e1e;
}

p {
  font-size: 16px;
  color: #e1e1e1;
}
p a,
p a:visited,
p a:active,
p a:hover {
  color: #e1e1e1;
}

#titulo {
  font-size: 48px;
  color: slateblue;
}

.italico {
  font-style: italic;
}

.negrito {
  font-weight: bolder;
}

.lista {
  list-style-type: square;
  font-size: 15px;
  color: crimson;
  text-transform: capitalize;
}

.formulario {
  width: 1000px;
}

label {
  display: inline-table;
  width: 15%;
  color: #a1a1a1;
}

.op-radio {
  color: #fff;
}

input,
textarea {
  background-color: #a1a1a1;
  outline: none;
  border: 0;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 3px #a0a0a0);
}
input::placeholder,
textarea::placeholder {
  color: white;
  padding: 5px;
  text-transform: capitalize;
}

.caixaTexto {
  width: 300px;
}
